@model ProyectoCloudPyme.Models.Usuario
@{
    ViewBag.Title = "Pagina principal";
    Layout = "~/Views/Shared/_LayoutCloudPymeSesion.cshtml";
}

<h2> </h2>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/Content/StyleViewPagina.css" />

</head>
<body>
  
    <div id="pantalla-dividida">
        <div class="primero">
            <h1>Bienvenido <span style="font-weight:bold">@Model.Nombre</span></h1>
        </div>
        <div class="segundo" >
            @if (Model.Pymes.Count() == 0)
            {
                <div id="UsuariosTable">
                <table>
                    <tr>
                        <td colspan="2" style="text-align:center; justify-content:center">Todavía no tienes Pymes agregadas</td>
                    </tr>
                 
                </table>
                </div>
                    }
            else
            {
            <div id="UsuariosTable">
                <table >
                    <thead>
                        <tr>
                            <th colspan="2" style="text-align:center; justify-content:center">Tus Pymes</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pyme in Model.Pymes)
                        {
                            <tr>
                                <td>@pyme.Nombre_pyme</td>
                                <td>@pyme.Tipo_pyme</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        </div>
        <div class="tercero">
            <div class="left" style="flex-grow:1">
                <h1 style="font-size:32px;">¿Quieres agregar una Pyme?</h1>
                <a id="texplico" href="@Url.Action("ElegirPyme","Home")">Aquí te explicamos cómo crearla</a>
            </div>
            <div class="right" style="flex-grow:1">
                <h1 style="font-size:32px;  ">¿Ya tienes todo listo?</h1>
                <a id="texplico" href="@Url.Action("CrearPyme","Home") " style="text-align:center">Añade aquí tu <b>Pyme</b></a>
            </div>
        </div>
    </div>
</body>
</html>