<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #f7f7f7;
            color: rgba(0, 0, 0, 0.2);
            font-weight: bold;
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        .navbar-inverse {
            background: rgba(16, 31, 41, 0.9);
            border-bottom: transparent;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            height: 9%;
            display: flex;
            align-items: center;
        }

        .navbar-header {
        }

        .navbar-inverse .navbar-brand {
            color: white;
        }

            .navbar-inverse .navbar-brand:hover,
            .navbar-inverse .navbar-brand:focus {
                color: #f5f5f5;
                background-color: transparent;
            }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
        }

            .navbar-inverse .navbar-nav > li > a:hover,
            .navbar-inverse .navbar-nav > li > a:focus {
                color: #f5f5f5;
                background-color: transparent;
            }

        .body-content {
            flex: 1;
            padding-top: 20px;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
        }

        footer {
            
            color: black;
            font-size: 10px;
            text-align: left;
        }

        .container {
            padding-left: 0;
            padding-right: 0;
        }

        .container-fluid {
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 1.2);
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("CloudPyme", "PaginaUsuario", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("EditarUsuario", "Home")"><span class="glyphicon glyphicon-cog" style="font-size:24px"></span> </a></li>
                    <li><a href="@Url.Action("BienvenidaUsuario", "Home")"><span class="glyphicon glyphicon-log-out" style="font-size:24px"></span> </a></li>
                </ul>



            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
